.catalog-button--container {
  display: flex;
  justify-content: center;

  .catalog-button {
    text-decoration: none;
    border: 0;
    background:  #004B60;
    padding: .7rem 1.5rem;
    color: #fff;
  }
}
