.dashboard-manage-products {
  margin-top: 20px;

  .products__title {
    font-size: 1rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
  }

  .products__image {
    height: calc(170px + 10px);

    img {
      width: auto;
      margin: 0 auto;
      display: block;
    }
  }

  .products__btn {
    display: flex;
    justify-content: center;
    padding-top: 2.5em;

    button {
      width: auto;
      font-size: .8rem;
      color: #fff;
      background: #C4C41E;
      border: 0;
      height: 2.5em;
    }

  }
}

.product-manage-containers {
  padding: 0;
}

@media (max-width: 1280px) {
  .dashboard-manage-products .products__image img {
    height: 120px;
    width: calc(140px + 10px);
  }
}