.pagination__dashboard {
  padding: 10px;
}

.all-shops-circle {
  display: block;
  height: 30px;
  width: 30px;
  line-height: 60px;
  border-radius: 30px;
  background-color: #e1e1e16e;
  color: white;
  text-align: center;
  font-size: 2em;
}